body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5px;
  color: $base-font-color;
  background-color: #dddddd;
  @include background-size(cover, webkit moz ms o);
}

a {
  color: $white-color;
  text-decoration: none;
}

a:focus {
  outline-style: none;
}

ul, li {
  list-style: none;
}

button {
  @include border-radius(0px);
}
