/* Block main */
.img-main{
  @include add-image("../img/img-main.jpeg");
  @include background-repeat(no-repeat, cover);
  @include box-shadow(0px 0px 15px 5px rgba(0, 185, 233, .75));
  @include transition(all 0.7s ease);
  height: 500px;
  margin-left: -30px;
}

/* Main-content Pronunciation */
section .main {
  @include add-image("../images/main-content.png");
  @include size(1025px, 683px);
  @include add-margin(-57px, top);
  @include add-margin(-95px, left);
  position: absolute;
}
  
section .search {
  @include size(87px, 82px);
  @include add-image("../images/icon.png");
  @include add-bg-position(-95px, 0, block);
  @include add-margin(126px 0px -203px 103px, all);
}

.main-content .letter-search {
  position: absolute;
  top: 200px;
  left: 99px;
  font-size: 24px;
}

.wrap .main-1 {
  @include add-margin(15px, top);
  @include add-margin(-915px, left);

  li a {
    @include add-margin(-15px 50px 10px 915px, all);
  }
}

.letter-a {
  @include size(97px, 85px);
  @include add-image("../images/letter.png");
  background-position: -26px -105px;
  display: block;
}

.letter-b {
  @extend .letter-a;
  background-position: -145px -105px;
}

.letter-d {
  @extend .letter-a;
  background-position: -378px -105px;
}

.letter-e {
  @extend .letter-a;
  background-position: -495px -105px;
}

.letter-f {
  @extend .letter-a;
  background-position: -613px -105px;
}

.letter-g {
  @extend .letter-a;
  background-position: -732px -105px;
}

.letter-h {
  @extend .letter-a;
  background-position: -86px -200px;
}

.letter-i {
  @extend .letter-a;
  background-position: -206px -200px;
}

.letter-j {
  @extend .letter-a;
  background-position: -322px -200px;
}

.letter-k {
  @extend .letter-a;
  background-position: -439px -200px;
}

.letter-l {
  @extend .letter-a;
  background-position: -555px -200px;
}

.letter-m {
  @extend .letter-a;
  background-position: -673px -200px;
}

.letter-n {
  @extend .letter-a;
  background-position: -27px -297px;
}

.letter-o {
  @extend .letter-a;
  background-position: -143px -297px;
}

.letter-p {
  @extend .letter-a;
  background-position: -264px -297px;
}

.letter-q {
  @extend .letter-a;
  background-position: -380px -297px;
}

.letter-r {
  @extend .letter-a;
  background-position: -498px -297px;
}

.letter-s {
  @extend .letter-a;
  background-position: -615px -297px;
}

.letter-t {
  @extend .letter-a;
  background-position: -737px -297px;
}

.letter-u {
  @extend .letter-a;
  background-position: -87px -393px;
}

.letter-v {
  @extend .letter-a;
  background-position: -207px -393px;
}

.letter-w {
  @extend .letter-a;
  background-position: -323px -393px;
}

.letter-x {
  @extend .letter-a;
  background-position: -441px -393px;
}

.letter-y {
  @extend .letter-a;
  background-position: -556px -393px;
}

.letter-z {
  @extend .letter-a;
  background-position: -671px -386px;
}

.scroll {
  @include size(115px, 410px);
  @include add-margin(25px, bottom);
  @include add-margin(130px, top);
  @include add-margin(915px, left);
  float: left;
  background: $dark-color;
  overflow-y: scroll;
}

.body-index {
  background-color: #f4fafe;
}