/* Sections */

  /*main content index */
.mainContent {
  position: relative;

  .main-body {
    margin-top: -18px;
    margin-left: 52px;
    position: absolute;
    top: 244px;
    left: 279px;
    
    .main-list {
      @include add-margin(0 0 -33px -45px, all);
      width: 1180px;
    }

    .logo {
      @include add-margin(-466px auto -50px 416px, all);
      width: 79%;
    }
  }

  /* main header index */
  .header-index {
    @include add-image("../images/banner.png");
    @include size(625px, 184px);
    background-position: 0 0;
    display: block;
    left: 641px;
    top: 86px;
    position: absolute;
  
    .header-online{
      @include size(152px, 228px);
      background-position: 0 -189px;
      position: absolute;
      top: -67px;
      left: -189px;
    }

    .header-enter {
      @include size(303px, 204px);
      background-position: -151px -189px;
      position: absolute;
      top: -63px;
      left: 543px;
    }
  }
}