/* List */

.list {
  @include add-margin(30px, bottom);
  margin-left: -37px;
}

.list-feature {
  @extend .list;
  width: 100%;

  li {
    @include add-border(1px, #cccccc, bottom);
    border-bottom: 1px solid #cccccc;
    position: relative;
    padding: 10px 0 5px 5px;
  }

  li:last-child {
    border: 0;
  }

  span {
    @include add-margin(14px, right);
    font-size: 147%;
    font-family: inherit;
    color: salmon;
  }
  .desc i {
    position: absolute;
    top: 24px;
    right: 29px;
  }
  #pause {
    display: none;
  }

  i .fa-check{
    @include add-margin(26px 5px 0 0, all);
  }
}

img.img {
  @include size(16%, 15%);  
}

.tab-content > .tab-pane {
  position: relative;
  height: 300px;

  .content {
    @include size(29%, 100%);
    position: absolute;
    top: 191px;
    left: 689px;
    overflow: auto;

    h2 {
      color: $blue-h2-color;
    }

    span {
      font-weight: bold;
    }
  }

  .video {
    position: absolute;
    top: 240px;
    left: 431px;
    height: 250px;
      
    .image-a {
      @include add-image("../images/tab-content.png");
      @include size(100px, 91px);
      background-position: 0 0;
      display: block;
      position: relative;

      .pro-text {
        color: $dark-color;
        position: absolute;
        top: 150px;
        left: 18px;
      }
    }

    .image-b {
      @extend .image-a;
      @include size(76px, 116px);
      background-position: -100px 0;
    }

    .image-d {
      @extend .image-a;
      @include size(120px, 120px);
      background-position: -254px 0;
    } 

    .image-e {
      @extend .image-a;
      @include size(100px, 93px);
      background-position: -374px 0;
    } 

    .image-f {
      @extend .image-a;
      @include size(105px, 143px);
      background-position: 0 -115px;
    }   

    p.desc {
      @include add-margin(-140px 0 0 124px, all);
      width: 31px;
      #pause {
        display: none;
      }
    }
  }

  .pronunciation-test {
    position: absolute;
    top: 598px;
    right: 125px;
    height: 250px;
    font-size: 28px;
    p span {
      color: $red-color;
    }
  }
}
