/* Footer pronunciation page */
.footer-pronunciation {
  @include add-image("../images/Capture.png");
  @include size(1900px, 164px);
  @include add-margin(-76px, top);
  position: absolute;
  background-size: cover;
}

/* Footer index page */
.footer-main {
  @include add-image("../images/Capture.png");
  @include size(1900px, 164px);
  @include add-margin(950px, top);
  position: absolute;
  background-size: cover;
}
